astroid==4.0.4
black==26.3.1
cfgv==3.5.0
click==8.3.2
confluent-kafka==2.14.0
dill==0.4.1
distlib==0.4.0
filelock==3.25.2
flake8==7.3.0
identify==2.6.18
isort==8.0.1
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.4
pre_commit==4.5.1
pycodestyle==2.14.0
pyflakes==3.4.0
pylint==4.0.5
python-discovery==1.2.1
pytokens==0.4.1
PyYAML==6.0.3
tomlkit==0.14.0
virtualenv==21.2.0

websockets~=16.0
tenacity~=9.1.4
pydantic~=2.12.5
